.vscode/**
.DS_Store

**/.envrc
**/.env
**/vars/


**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate.*
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfvars
**/*.auto.tfvars
**/*.drawio


**/variables.pkr.hcl
**/user-data

**/inventory.ini
**/group_vars/

**.secret

**/talos/config/
**/talos/secrets/

**/old_cluster/**/