services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/data
    networks:
      - infra-net
    labels:
        # Enable Traefik
        - "traefik.enable=true"
        
        # Enable HTTP (will be redirected by traefik)
        - "traefik.http.routers.portainer.rule=Host(`portainer.slux-solutions.com`)"
        - "traefik.http.routers.portainer.entrypoints=web"

        # Enable HTTPS
        - "traefik.http.routers.portainer.rule=Host(`portainer.slux-solutions.com`)"
        - "traefik.http.routers.portainer.entrypoints=websecure"
        - "traefik.http.routers.portainer.tls=true"
        - "traefik.http.routers.portainer.tls.certresolver=cloudflare"
        - "traefik.http.services.portainer.loadbalancer.server.port=9000"

networks:
  infra-net:
    external: true

