## Physical machines
- targets: ['192.168.20.10']
  labels:
    hostname: "asgard"
    role: "proxmox"
    machine_type: "physical"

- targets: ['192.168.20.20']
  labels:
    hostname: "midgard"
    role: "proxmox"
    machine_type: "physical"

- targets: ['192.168.20.30']
  labels:
    hostname: "muspelheim"
    role: "proxmox"
    machine_type: "physical"

## Virtual Machines
- targets: ['10.30.34.55']
  labels:
    id: 101
    hostname: "infra-1"
    role: "infra"
    machine_type: "vm"

- targets: ['10.30.65.44']
  labels:
    id: 102
    hostname: "kubernetes-master-1"
    role: "kubernetes-master"
    machine_type: "vm"

- targets: ['10.30.72.169']
  labels:
    id: 200
    hostname: "local-services-1"
    role: "local-services"
    machine_type: "vm"

- targets: ['10.30.24.231']
  labels:
    id: 201
    hostname: "kubernetes-worker-1"
    role: "kubernetes-worker"
    machine_type: "vm"

- targets: ['10.40.54.112']
  labels:
    id: 300
    hostname: "public-services-1"
    role: "public-services"
    machine_type: "vm"

- targets: ['10.30.42.194']
  labels:
    id: 301
    hostname: "kubernetes-worker-2"
    role: "kubernetes-worker"
    machine_type: "vm"