# This dynamic configuration file for Traefik defines a load balancer service for Proxmox servers.
# It routes traffic to multiple Proxmox instances based on the host rule and uses TLS with Cloudflare as the certificate resolver.

http:
  routers:
    proxmoxRouter:
      rule: "Host(`prox.slux-solutions.com`)"
      entryPoints:
        - websecure
      service: proxmoxService
      tls:
        certResolver: cloudflare

  services:
    proxmoxService:
      loadBalancer:
        healthCheck:
          path: /
          interval: 10s
          timeout: 3s
        servers:
          - url: "https://192.168.20.10:8006"
          - url: "https://192.168.20.20:8006"
          - url: "https://192.168.20.30:8006"
        tls:
          insecureSkipVerify: true
